* {
  margin: 30px;
  
}


.px {
    background-color: grey;
    height: 60px;
  
  }


.vw {
      background-color: grey;
      column-count: 3;
      width: 85vw;
      column-gap: 10px;
      column-rule: 10px solid white;
 
  }


.percent {
  background-color: grey;
  height: 100%;
  font-size: 90%;
  padding: 2%;
}

      
.vh {
  background-color: grey;
  height: 10vw;
}

.rem {
  background-color: grey;
  font-size: 1.5rem;
}

.em {
  background-color: grey;
  font-size: 2rem;
}

